@media screen and (min-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Raleway', sans-serif;
    }
    main{
        width: 100vw;
        height: 100vh;
        background-color: $VeryDarkBlue;
        background-image: url(/images/bg-desktop.png);
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .box1{
            width: 40%;
            border-radius: 0.7rem;
            border-top-right-radius: 6.5rem;
            background-color: $DarkBlue;
            padding: 2.5rem 2.8rem;
            margin-right: 2rem;
            margin-bottom: 3.5rem;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.097);
            .menu{
                display: flex;
                margin-top: 1.7rem;
                .menu-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $VeryDarkBlue;
                    padding: 0.8rem;
                    border-radius: 0.5rem;
                    margin-right: 1rem;
                }
            }
        }
        .box2{
            width: 60%;
            background-color: $DarkBlue;
            padding: 2.3rem 2.2rem;
            border-radius: 0.7rem;
            position: relative;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.097);
            .text{
                text-align: left;
                margin-bottom: 0.7rem;
                h1{
                    color: $PaleBlue;
                    font-size: 14px;
                    font-weight: 400;
                }
                span{
                    font-weight: 700;
                }
            }
            .slider{
                width: 100%;
                margin-bottom: 0rem;
                position: relative;
                .slider-container{
                    width: 100%;
                    padding: 0.2rem 0rem;
                    .slider-bar{
                        -webkit-appearance:none ;
                        width: 100%; 
                        height: 20px;
                        border-radius: 1rem;
                        outline: none;
                        background-color: #162047;
                    }
                    .slider-bar::-webkit-slider-thumb{
                        -webkit-appearance:none;
                        appearance: none;
                        background: white;
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        position: relative;
                        z-index: 999;
                        border-radius: 50%;
                    }
                }
                .slider-progress{
                    border-radius: 1rem;
                    left: 3.5px;
                    top: 6px;
                    width: 81.5%;
                    height: 14px;
                    position: absolute;
                    background-image: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
                    
                }
                .slider-gab{
                    display: flex;
                    justify-content: space-between;
                    color: $PaleBlue;
                    font-size: 12px;
                    font-weight: 700;
                }
            }
            .slider-value{
                padding: 0.8rem 0.5rem;
                background-color: white;
                position:absolute;
                border-radius: 0.5rem;
                color: $GrayishBlue;
                font-size: 12px;
                letter-spacing: 0.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                text-transform:uppercase;
                bottom: 110px;
                left: 300px;
                right: 40px;
                span{
                    font-size: 32px;
                    font-weight: 700;
                    color: black;
                    padding-right: 0.5rem;
                }
                
            }
            .triangle{
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 30px solid rgb(255, 255, 255);
                border-left: 30px solid transparent;  
                top: 25px;
                right: 40px;
            }
        }
    }
    
}